<div class="login">
  {{#if email}}
    <div class="hello">
      Hello, {{email}}
    </div>
  {{else}}
    <div class="email">
      <input type="text" value="" placeholder="email" id="login_name" />
      <button id="submit_jabber">Login</button>
    </div>
  {{/if}}
</div>
